body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    text-align: center;
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen20 {
    max-width: 20rem;
    width: 100%;
}

.mainGridsContainer {
    display: grid;
    padding: 10px;  
    width: 30rem;
    height: 30rem;
}

.gridDiv {
    background-color: white;
    border: 1px solid lightgray;
    height: auto;
    width: auto;
}

.gridDiv:hover{
    background-color: black;
}

.slider {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }