body {
    font-family: 'Roboto', arial;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
}

header {
    width: 100%;
    text-align: center;
    font-size: xx-large;
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallShadow {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.screen20 {
    max-width: 20rem;
    width: 100%;
}

.mainGame {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu {
    padding: 20px;
    margin-right: 20px;
    border:2px solid #04AA6D;
    border-radius: 16px;
    display:flex;
    flex-direction: column;
}

.labelDiv {
    margin-bottom: 25px;
}

.btn {
    padding: 12px 32px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 16px;
    transition: transform .15s;
}

.btn:hover {
    transform: scale(1.05);
}

.buttonClear {
    border: 5px solid black;
}

.randomRGBButton {
    border: 5px solid #04AA6D;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.randomRGBButton:hover {
    border: 5px solid #04AA6D;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainGridsContainer {
    display: grid;
    padding: 10px;
    max-width: 35rem;
    height: 35rem;
    width: 100%;
    border: 3px solid black;
}

.gridDiv {
    background-color: white;
    border: 1px solid lightgray;
    height: auto;
    width: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

.slider {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 100%;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}